html{
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
  background: #FFC004;
  display: flex;
  justify-content: center;
  
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search{
  outline: none;
  border: 10px solid rgb(241, 241, 241);
  padding: 1rem .5rem ;
  margin-top: 4rem;
  text-align: center;
  font-size: 2rem;
  justify-self: center;
}
.suggestions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0;
}

li{
  background: #ffe;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  transition: clip-path 0.3s;
}

.name{
  text-align: left;
}

.suggestions li:nth-child(even) {
  clip-path: polygon(
    0% 0%,    /* top-left */
    100% 10%, /* top-right */
    100% 90%, /* bottom-right */
    0% 100%   /* bottom-left */
  );
}

.suggestions li:nth-child(odd) {
  clip-path: polygon(
    0% 10%,   /* top-left */
    100% 0%,  /* top-right */
    100% 100%,/* bottom-right */
    0% 90%    /* bottom-left */
  );
}
